@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  max-width: 1000px;
  padding: 0rem 2rem;
  height: 50vh;
  margin: 10rem auto 0;
}

h2 {
  position: relative;

  padding:0 0 .5rem .5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  border-bottom: .3rem solid #ddd;
}

h2::before {
  position: absolute;

  content: "";
  bottom: 0rem;
  /* bottom: -0.3rem; */
  left: 0;
  width: 20%;
  height: .3rem;
  background-color: rgb(129, 171, 254);
}

