@charset "UTF-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  color: #333;
}

.container {
  max-width: 1050px;
  height: 220vh;
  margin: 0 auto;
  /* padding: 5rem; */
  background-color: #eee;
}